<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_Parking.Properties.Settings.CarParkingConnectionString"
            connectionString="Data Source=DESKTOP-ANDRE\SQLEXPRESS;Initial Catalog=CarParking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>