body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#bodySystem .dataTables_length, #bodySystem .dataTables_filter {
    display: none;
}

.myHeader {
    padding-left: 12px;
}

.divMainRow {
    margin-top: 10px;
}

.btnSearch {
    display: none;
}

.nav-tabs > li.active {
    background-color: #eee !important;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #009688 !important;
    }

table.responsive.dataTable > tbody > tr > td:not(.dataTables_empty):not(:first-child) {
    cursor: pointer;
}

.onPopup > li.active {
    background-color: #fff !important;
}

#messages {
    margin-top: 20px;
}

tr.child li {
    white-space: normal;
}

.action-secondary > i {
    cursor: pointer;
}

    .action-secondary > i.btnDown:hover {
        color: #ff6a00 !important;
    }

    .action-secondary > i.btnUp:hover {
        color: #00ff21 !important;
    }

.list-group > div.LFunction:first-child i.btnUp {
    display: none !important;
}

.list-group > div.LFunction:last-child i.btnDown {
    display: none !important;
}

/*.myBC {
    margin-left: 0px!important;
}*/

.myBC > .breadcrumb {
    margin-bottom: 0px !important;
    background-color: #eee !important;
    /*border-radius: 0px !important;*/
}

.btn.btn-raised:not(.dropdown-toggle) {
    padding: 8px 20px !important;
}

.pm_image_body {
    max-height: 150px;
    height: 150px;
    min-height: 150px;
}

    .pm_image_body > .pm_image {
        box-sizing: border-box;
        max-width: 100%;
        max-height: 100%;
    }

.myDropdownWithTabs > a.dropdown-toggle {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 40px;
}

.badge-inverse {
    background-color: #3f51b5 !important;
}

.badge-primary {
    background-color: #009688 !important;
}

.badge-success {
    background-color: #4caf50 !important;
}

.badge-info {
    background-color: #03a9f4 !important;
}

.badge-warning {
    background-color: #ff5722 !important;
}

.badge-danger {
    background-color: #f44336 !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: auto !important;
}

.stiJsViewerReportPanel {
    position: static !important;
}

.menuMain > li:not(:first-child) > a::before {
    border-width: 0px 0px 0px 1px !important;
    border-style: solid;
    border-color: #fff;
    min-width: 20px;
    height: 30px;
    content: '';
    position: absolute;
    left: -1px;
    margin: auto;
    top: 0px;
    bottom: 0px;
}

.menuMain > li:first-child > a::before {
    border-width: 0px 0px 0px 1px !important;
    min-width: 20px;
    height: 30px;
    content: '';
    position: absolute;
    left: -1px;
    margin: auto;
    top: 0px;
    bottom: 0px;
}

.menuMain > li:hover {
    text-shadow: 0px 0px 15px #fff,0px 0px 15px #fff;
}

.menuMain > li > * {
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.btnReport {
    cursor: pointer;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
}

    .btnReport:hover {
        text-shadow: 0px 0px 6px #222;
        color: #fff;
    }

.list-group .list-group-item {
    padding: 10px 15px !important;
}

table.dataTable > tbody > tr.child ul {
    display: block !important;
}
